* {
	margin: 0;
	padding: 0;
}

:root {
	--richBlue: rgb(72, 112, 241);
	--paleBlue: rgb(141, 163, 238);
}

main {
	background-color: #F9F9F9;
	padding: 1rem 33vw;
	min-height: calc(100vh - 2rem);
}

main>h1 {
	margin: 4rem 0 4rem 0;
	text-align: center;
}

main>h2 {
	margin-bottom: 8rem;
	text-align: center;
}

main>h1>form {
	display: inline-block;
}

main>h1>form>input {
	font: inherit;
	text-align: start;
	border: none;
	background: none;
	width: var(--contentWidth);
	border-bottom: 2px solid rgba(0, 0, 0, .25);
	outline: none;
	transition: color .2s ease, width .1s ease;
	padding: 0 .25rem;
	margin: 0 -.25rem;
} main>h1>form>input:hover {
	border-color: var(--paleBlue)
} main>h1>form>input:focus {
	border-color: var(--richBlue);
}

.list-item {
	box-shadow: 0 .1rem .25rem 0 rgba(0, 0, 0, .1);
	background-color: white;
	padding: 1rem;
	margin-bottom: 1rem;
}

svg {
	fill: none;
	opacity: 0;
	stroke-width: 10px;
	stroke: var(--richBlue);
	border-radius: 50%;
	position: fixed;
	left: calc(50% - 50px);
	top: 0;
	transition: opacity .5s ease, top .75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} svg>circle {
	opacity: 0;
} svg>circle:first-of-type {
	animation: loaderInner 1.5s ease infinite;
} svg>circle:nth-of-type(2) {
	animation: loader 1.5s ease .25s infinite;
} svg>circle:nth-of-type(3) {
	animation: loader 1.5s ease .45s infinite;
} svg.show {
	top: 32px;
	opacity: 1;
}

@keyframes loaderInner {
	0% {
		r: 20%;
		opacity: 0;
	}
	10% {
		r: 0;
		opacity: 1;
		stroke-width: 5%;
	}
	60% {
		r: 50%;
		opacity: 0;
		stroke-width: 0;
	}
}

@keyframes loader {
	0% {
		r: 0;
		opacity: 1;
	}
	60% {
		r: 50%;
		opacity: 0;
		stroke-width: 0;
	}
}