* {
	margin: 0;
	padding: 0;
}

main {
	background-color: #F9F9F9;
	padding: 1rem;
	min-height: calc(100vh - 2rem);
}

main>h1 {
	margin: 4rem 0 4rem 0;
	text-align: center;
}

main>h2 {
	margin-bottom: 8rem;
	text-align: center;
}

main>h1>form {
	display: inline-block;
}

main>h1>form>input {
	font: inherit;
	text-align: start;
	border: none;
	background: none;
	width: var(--contentWidth);
	border-bottom: 2px solid rgba(0, 0, 0, .25);
	outline: none;
	transition: color .2s ease, width .1s ease;
	padding: 0 .25rem;
	margin: 0 -.25rem;
} main>h1>form>input:hover {
	border-color: rgb(141, 163, 238);
} main>h1>form>input:focus {
	border-color: rgb(72, 112, 241);
}

.list-item {
	box-shadow: 0 .1rem .25rem 0 rgba(0, 0, 0, .1);
	background-color: white;
	padding: 1rem;
	margin-bottom: 1rem;
}

.fadeout {
	animation: fadeout .5s ease;
}

@keyframes fadeout {
	100% {
		opacity: 0;
		height: 0;
	}
}